* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

body {
    background: #1E2D3B;
    min-height: 100vh;
}

.container {
  display: flex;
    width: 80%;
    height: 100%;
    margin: 0 auto;
  justify-content: space-around;

}
.search {
  margin: 20px;
  border-radius: 15px;
  padding-left: 20px;
}
.select-genre {
  margin: 20px;
  border-radius: 15px;
  padding: 0px 20px;
}
label {
color: #fff;
}
header {
    width: 100%;
    height: 70px;
    background: rgb(46, 58, 70);
}
header img {
    height: 50px;
    margin-top: 10px;
}

.cds-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 100px 0;
    width: 1200px;
    margin: auto;
}

.cd {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-basis: 200px;
    padding: 20px;
    margin: 10px 20px;
    height: 360px;
    width: 360px;
    background-color: rgb(46, 58, 70);
    text-align: center;
    cursor: pointer;
    transition: background-color 1s
  }
  #list-cd {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
.cd:hover {
  background-color: #8f8f8f;
}
.cd img {
    max-width: 100%;
    border-radius: 50%;
}

.cd h3 {
    margin: 20px 0;
    color: grey;
    font-size: 22px;
    text-transform: uppercase;
}

.cd span.author {
    color: grey;
    font-size: 20px;
}
.cd span.genre {
  color: grey;
}
.cd span.year {
    color: grey;
}
.cd:hover span {
  color: #000;
}
.cd:hover h3 {
  color: #000;
}

@media only screen and (max-width:768px) {

  .options {
    display: flex;
    align-items: center;
  }
  .container {
    width: 100%
  }
  .cd {
    width: 300px;
    height: 300px;
  }

}
